<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.minji.cufcs">


    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.CAMERA" />

    <!-- 结束任务通过restartPackage(String)方法，该方式将在外来放弃 -->
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />

    <!-- 允许程序写入外部存储，如SD卡上写文件 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 获取网络信息状态，如当前的网络连接是否有效 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- 视频必须 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name="com.minji.cufcs.base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/cufc"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name="com.minji.cufcs.ui.WaterRainWorkManger" />
        <activity android:name="com.minji.cufcs.ui.PollingEntering" />
        <activity
            android:name="com.minji.cufcs.ui.ScreenActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape" />
        <activity android:name="com.minji.cufcs.ui.PollingEighteen" />
        <activity android:name="com.minji.cufcs.ui.VersionsActivity" />
        <activity android:name="com.minji.cufcs.ui.ImplementActivity" />
        <activity
            android:name="com.minji.cufcs.ui.SettingActivity"
            android:launchMode="singleTop" />
        <activity android:name="com.minji.cufcs.ui.ChartActivity" />
        <activity android:name="com.minji.cufcs.ui.SecondScreenFragmentActivity" />
        <activity android:name="com.minji.cufcs.ui.OperationDetailActivity" />
        <activity
            android:name="com.minji.cufcs.ui.ShowAlarmActivity"
            android:launchMode="singleTop"
            android:theme="@style/translucent" />

        <service android:name="com.minji.cufcs.service.AlarmServicer" />
    </application>


</manifest>